[submodule "My_List_of_SMS_gateways"]
	path = My_List_of_SMS_gateways
	url = git://github.com/DarkPhoenix6/My_List_of_SMS_gateways.git
[submodule "web_pages"]
	path = web_pages
	url = git://github.com/DarkPhoenix6/299_web_pages.git
